@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family:  "Poppins", sans-serif;
}
#checkmode:checked + label .switch-ball{
    background-color: white;
    transform: translateX(18px);
    transition: transform 0.3s linear;
  }
  .report-box:before {
    content: "";
    width: 85%;
    background: #F9FAFC;
    box-shadow: 0px 3px 20px #0000000b;
    height: 100%;
    margin-top: 0.75rem;
    position: absolute;
    border-radius: 0.375rem;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    z-index: -2;
}
.dark .report-box:before{
    background: #0b00213f;
}

.zoom-in {
    
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --transform-translate-x: 0;
    --transform-translate-y: 0;
    --transform-rotate: 0;
    --transform-skew-x: 0;
    --transform-skew-y: 0;
    --transform-scale-x: 1;
    --transform-scale-y: 1;
    transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
    cursor: pointer;
}
.chartjs-size-monitor, .chartjs-size-monitor-expand, .chartjs-size-monitor-shrink {
    position: absolute;
    direction: ltr;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    pointer-events: none;
    visibility: hidden;
    z-index: -1;
}
.chartjs-render-monitor {
    animation: chartjs-render-animation 0.001s;
}
.mx-input {
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 34px;
    padding: 6px 30px;
    padding-left: 10px;
    font-size: 14px;
    line-height: 1.4;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.mx-icon-calendar, .mx-icon-clear {
    position: absolute;
    top: 50%;
    right: 8px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 16px;
    line-height: 1;
    color: rgba(0,0,0,.5);
    vertical-align: middle;
}

.active{
    background-color: #1e40af;
    color: white;
}

.comToggle-checkbox:checked {
    right: 0;
    border-color: #1e40af;
    
  }
  .comToggle-checkbox:checked + .comToggle-label {
    background-color: #d1d5db;
  }
.animSlideup{
    animation: slideup 0.5s ;
   
}
@keyframes slideup {
    from {top: 50px; opacity: 0;}
    to {top: 0px; opacity: 1;}
  }
  .animSlideleft{
    animation: slideleft 1.5s ;
  }
  @keyframes slideleft {
    from {left: 100px; opacity: 0; }
    to {left: 0px; opacity: 1; visibility: visible;}
  }
tr{
    position: relative;
    animation: cascadeslide 0.25s ease-in-out backwards;

}
@keyframes cascadeslide {
    from {left: 25px;visibility: hidden; display: none;}
    to {left: 0px;visibility: visible; display: block;}
  }

  tr:nth-child(1){
   
    animation-delay: 0.3s;
  }
  tr:nth-child(2){
   
    animation-delay: 0.35s;
  }
  tr:nth-child(3){
   
    animation-delay: 0.4s;
  }
  tr:nth-child(4){
   
    animation-delay: 0.45s;
  }
  tr:nth-child(5){
   
    animation-delay: 0.5s;
  }
  tr:nth-child(6){
   
    animation-delay: 0.55s;
  }


